__pycache__/
*.py[cod]
.venv/
.env
.env.*
!.env.example
!env/examples/.env.*.example
LOCAL_WORK_LOG.md
docs/
.pytest_cache/
.DS_Store
.aws-sam/
terraform.tfstate
terraform.tfstate.*
*.tfstate
*.tfstate.*
*.tfvars
!.tfvars.example
crash.log
.terraform/
*.tfplan
